.content-gallery{
    display: flex;
    float: none;
    justify-content: space-between;
 }
 
 .content-gallery a {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
 }

 .content-gallery a:first-child, .content-gallery a:last-child {
    margin-top: 15px;
    margin-left: 0px;
    margin-bottom: 15px;
    margin-right: 0px;
}

div.content-column-content > pre {
    width: max-content;
    float: left;
    margin-right: 50px;
}

.svg-container a {
    width: 100%;
}